FH_Connetion.json
[{"id":"e3737c94.fd59f","type":"tab","label":"FH Connections","disabled":false,"info":""},{"id":"a76ee99e.e4d718","type":"json","z":"e3737c94.fd59f","name":"","property":"payload","action":"obj","pretty":false,"x":250,"y":140,"wires":[["277f34fb.de5d9c","6a61eaef.36c104"]]},{"id":"84ab604.32a85a","type":"change","z":"e3737c94.fd59f","name":"","rules":[{"t":"set","p":"Mode","pt":"global","to":"payload.site.house.mode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1320,"y":60,"wires":[["47e242b5.0edd6c"]]},{"id":"39dd072e.b84138","type":"switch","z":"e3737c94.fd59f","name":"","property":"Mode","propertyType":"global","rules":[{"t":"eq","v":"sleep","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":60,"wires":[["84ab604.32a85a"],["84ab604.32a85a"]]},{"id":"8e07c57f.92d158","type":"rbe","z":"e3737c94.fd59f","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload.site.house.mode","topi":"topic","x":870,"y":60,"wires":[["39dd072e.b84138"]]},{"id":"77d4a580.a4a38c","type":"function","z":"e3737c94.fd59f","name":"Type/ Function","func":"\n\nif(typeof  msg.payload.site !== \"undefined\")\n{\n    var Mode = msg.payload.site.mode;\n return msg; \n} \n\nif(typeof  msg.payload.devices === \"undefined\"  ||  msg.payload.devices === null)\n{\n    //node.warn(\"no Device\");\n    return null;\n}\n\nif(typeof  msg.payload.devices[0].functionality !== \"undefined\" && msg.payload.devices[0].functionality !== null )\n{\n \n    if (msg.payload.devices[0].functionality == \"lighting\") {\n        var Light = {};\n        Light.name = msg.payload.devices[0].name;\n        Light.power = msg.payload.devices[0].param.power;\n        Light.Room = msg.payload.devices[0].room;\n        Light.id = msg.payload.devices[0].id;\n       return [null,Light];  \n    }\n     if (msg.payload.devices[0].functionality == \"heating\") {\n        var Heat = {};\n        Heat.name = msg.payload.devices[0].name;\n        Heat.power = msg.payload.devices[0].param.power;\n        Heat.Room = msg.payload.devices[0].room;\n        Heat.id = msg.payload.devices[0].id;\n       return [null,null,Heat];  \n    }\n    if (msg.payload.devices[0].functionality == \"appliance\") {\n        var appliance = {};\n        appliance.name = msg.payload.devices[0].name;\n        appliance.power = msg.payload.devices[0].param.power;\n        appliance.Room = msg.payload.devices[0].room;\n        appliance.id = msg.payload.devices[0].id;\n       return [null,null,null,null,appliance];  \n    }\n \n} else if (msg.payload.devices[0].functionality === null){\n   \n    var mvmnt = {};\n        mvmnt.name = msg.payload.devices[0].name;\n        mvmnt.topic = mvmnt.name;\n        mvmnt.temperature = msg.payload.devices[0].temperature;\n        mvmnt.room = msg.payload.devices[0].room;\n        mvmnt.id = msg.payload.devices[0].id;\n        mvmnt.illuminance = msg.payload.devices[0].param.illuminance\n        mvmnt.payload = msg.payload.devices[0].param.presence\n        \n    return [null,null,null,mvmnt];  \n}\n\n  \n","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":140,"wires":[[],["8ad3e3c1.ae8ea"],["f2e0b439.cfe148"],["c270ae4859f1e7bb"],["f57725ce.089018"]],"outputLabels":["Mode","Light","Heat","Movement","appliance"]},{"id":"47e242b5.0edd6c","type":"link out","z":"e3737c94.fd59f","name":"Mode Out","links":["5b63eaae.4cbcf4"],"x":1595,"y":60,"wires":[]},{"id":"8ad3e3c1.ae8ea","type":"link out","z":"e3737c94.fd59f","name":"Light_OUT","links":["babcae54.9d1a9","d7b6736b.b8d49","cb008c94.5ff1f"],"x":1095,"y":100,"wires":[]},{"id":"7422f190.1aacf","type":"change-device","z":"e3737c94.fd59f","user":"","device":"11","device_id":"11","name":"Stue","x":970,"y":440,"wires":[]},{"id":"ae05daf4.f22088","type":"change-device","z":"e3737c94.fd59f","user":"","device":"10","device_id":"10","name":"Kjøkken","x":960,"y":480,"wires":[]},{"id":"57f7d91c.4946d8","type":"change-device","z":"e3737c94.fd59f","user":"","device":"17","device_id":"17","name":"Kjeller Gang","x":970,"y":520,"wires":[]},{"id":"a60ec8c0.5360a8","type":"change-device","z":"e3737c94.fd59f","user":"","device":"15","device_id":"15","name":"Vaskerom: Lys","x":980,"y":680,"wires":[]},{"id":"9d11c4da.344988","type":"change-device","z":"e3737c94.fd59f","user":"","device":"9","device_id":"9","name":"Closet","x":950,"y":720,"wires":[]},{"id":"472600f9.2afc6","type":"change-device","z":"e3737c94.fd59f","user":"","device":"20","device_id":"20","name":"Karina","x":950,"y":760,"wires":[]},{"id":"78b65f45.8b367","type":"change-device","z":"e3737c94.fd59f","user":"","device":"5","device_id":"5","name":"Kontor: Lys","x":970,"y":800,"wires":[]},{"id":"3de67605.ae865a","type":"change-device","z":"e3737c94.fd59f","user":"","device":"21","device_id":"21","name":"Gangen","x":960,"y":560,"wires":[]},{"id":"4bc3c84.d3b2838","type":"switch","z":"e3737c94.fd59f","name":"FH:What Light","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"Stue","vt":"str"},{"t":"eq","v":"Kjøkken","vt":"str"},{"t":"eq","v":"Kjeller Gang","vt":"str"},{"t":"eq","v":"Gangen","vt":"str"},{"t":"eq","v":"Vaskerom: Lys","vt":"str"},{"t":"eq","v":"Closet","vt":"str"},{"t":"eq","v":"Karina","vt":"str"},{"t":"eq","v":"Kontor: Lys","vt":"str"}],"checkall":"false","repair":false,"outputs":8,"x":380,"y":660,"wires":[["7422f190.1aacf"],["ae05daf4.f22088"],["57f7d91c.4946d8"],["3de67605.ae865a"],["a60ec8c0.5360a8"],["9d11c4da.344988"],["472600f9.2afc6"],["78b65f45.8b367"]]},{"id":"aebee55b.78c578","type":"comment","z":"e3737c94.fd59f","name":"Status ","info":"","x":130,"y":80,"wires":[]},{"id":"84619273.5b4a6","type":"comment","z":"e3737c94.fd59f","name":"Lights","info":"","x":130,"y":440,"wires":[]},{"id":"93258667.8e8568","type":"link in","z":"e3737c94.fd59f","name":"Lights","links":["bb47679e.49ecb8"],"x":135,"y":660,"wires":[["4bc3c84.d3b2838"]]},{"id":"f2e0b439.cfe148","type":"link out","z":"e3737c94.fd59f","name":"Heating","links":[],"x":1095,"y":140,"wires":[]},{"id":"d4cd1de.82711e","type":"link out","z":"e3737c94.fd59f","name":"Movement oppe","links":["1329b56.bea634b"],"x":1595,"y":140,"wires":[]},{"id":"8d3b028a.588a3","type":"switch","z":"e3737c94.fd59f","name":"room","property":"room","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"9","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"8","vt":"num"}],"checkall":"false","repair":true,"outputs":4,"x":1390,"y":160,"wires":[["d4cd1de.82711e"],["b951c7f1.f25428"],["a3c35e5e1ca4940d"],["3ca6c5070a53611d"]]},{"id":"b951c7f1.f25428","type":"link out","z":"e3737c94.fd59f","name":"Movement Nede","links":["f66e7e24.aca9d","1329b56.bea634b"],"x":1595,"y":180,"wires":[]},{"id":"54bf5eae.c8ef3","type":"switch","z":"e3737c94.fd59f","name":"Room","property":"room","propertyType":"msg","rules":[{"t":"eq","v":"upstairs","vt":"str"},{"t":"eq","v":"basement","vt":"str"},{"t":"eq","v":"gangen","vt":"str"},{"t":"cont","v":"bedroom","vt":"str"},{"t":"eq","v":"bathroom","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":410,"y":520,"wires":[["7130649263b126cc"],["57f7d91c.4946d8"],["3de67605.ae865a"],["472600f9.2afc6"],["3f0a059e.7103da"]]},{"id":"64bc6db.9a90194","type":"link in","z":"e3737c94.fd59f","name":"FH Room Lights","links":["21c80566.d9201a","6e1a0143.f51f8","9262c612.43a058","99bb192c.9613d8","4c1858d290c94d44","87d1ce3c19202d34","e2d7c57f5c31b977"],"x":134,"y":521,"wires":[["5da7627f.49119c"]]},{"id":"5da7627f.49119c","type":"function","z":"e3737c94.fd59f","name":"","func":"let msg2 = {};\n\nmsg2.room = msg.room;\nif (msg.payload == true || msg.payload == false) {\n    msg2.payload = { power: msg.payload === true ? \"on\" : \"off\" };\n} else {\n    msg2.payload = msg.payload;\n}\n\n\nreturn msg2;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":520,"wires":[["54bf5eae.c8ef3"]]},{"id":"f08e4592.a992e8","type":"catch","z":"e3737c94.fd59f","name":"","scope":null,"uncaught":false,"x":360,"y":40,"wires":[["3aaddf77.5c70f"]]},{"id":"3aaddf77.5c70f","type":"debug","z":"e3737c94.fd59f","name":"ERROR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":520,"y":40,"wires":[]},{"id":"f57725ce.089018","type":"link out","z":"e3737c94.fd59f","name":"","links":[],"x":1095,"y":280,"wires":[]},{"id":"8d086061.8b918","type":"change-device","z":"e3737c94.fd59f","user":"","device":"22","device_id":"22","name":"Ovn","x":950,"y":860,"wires":[]},{"id":"3229de3c.7ea162","type":"switch","z":"e3737c94.fd59f","name":"","property":"power","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":true,"outputs":2,"x":420,"y":860,"wires":[["845f8e9d.766ea"],["2393b6f.cffe14a"]]},{"id":"845f8e9d.766ea","type":"function","z":"e3737c94.fd59f","name":"ON","func":"msg.payload = {};\nmsg.payload.power = \"on\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":840,"wires":[["57f7d91c.4946d8"]]},{"id":"2393b6f.cffe14a","type":"function","z":"e3737c94.fd59f","name":"OFF","func":"msg.payload = {};\nmsg.payload.power = \"off\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":880,"wires":[["57f7d91c.4946d8"]]},{"id":"c660d15c.213f9","type":"get-state","z":"e3737c94.fd59f","user":"","name":"1 etg LUX","get_type":"devices","device_id":"23","device":"23","room":"","x":1640,"y":440,"wires":[["e03e153f.c778d8"]]},{"id":"e03e153f.c778d8","type":"link out","z":"e3737c94.fd59f","name":"1 etg Lux","links":[],"x":1835,"y":440,"wires":[]},{"id":"fe85490e.fd0958","type":"site","z":"e3737c94.fd59f","user":"","name":"Hegglunds","x":120,"y":140,"wires":[["a76ee99e.e4d718"]]},{"id":"c601c69e.6137e8","type":"switch","z":"e3737c94.fd59f","name":"Gusetmode","property":"guestmode","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":true,"outputs":1,"x":1230,"y":160,"wires":[["8d3b028a.588a3"]]},{"id":"d2c31c81.92246","type":"get-state","z":"e3737c94.fd59f","user":"","name":"B etg LUX","get_type":"devices","device_id":"19","device":"19","room":"","x":1650,"y":380,"wires":[["9a820556.4df458"]]},{"id":"9a820556.4df458","type":"link out","z":"e3737c94.fd59f","name":"1 etg Lux","links":["c825f67d.b5dba8"],"x":1835,"y":380,"wires":[]},{"id":"277f34fb.de5d9c","type":"change","z":"e3737c94.fd59f","name":"clean","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":420,"wires":[["d2c31c81.92246","c660d15c.213f9"]]},{"id":"30239893.0863c8","type":"link in","z":"e3737c94.fd59f","name":"FH_Kjeller","links":[],"x":155,"y":860,"wires":[["69654cee.133f94"]]},{"id":"69654cee.133f94","type":"rbe","z":"e3737c94.fd59f","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"power","x":290,"y":860,"wires":[["3229de3c.7ea162"]]},{"id":"69bb91cc.c35c3","type":"switch","z":"e3737c94.fd59f","name":"Device","property":"payload.devices[0].name","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":140,"wires":[["77d4a580.a4a38c"]]},{"id":"3f0a059e.7103da","type":"change-device","z":"e3737c94.fd59f","user":"","device":"46","device_id":"46","name":"dimmer","x":960,"y":600,"wires":[]},{"id":"6a61eaef.36c104","type":"change","z":"e3737c94.fd59f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":140,"wires":[["69bb91cc.c35c3","b36abc6167954013"]]},{"id":"04d0c0d3ead85731","type":"switch","z":"e3737c94.fd59f","name":"status","property":"status","propertyType":"global","rules":[{"t":"eq","v":"day","vt":"str"},{"t":"eq","v":"night","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":630,"y":440,"wires":[["7422f190.1aacf","ae05daf4.f22088"],["ae05daf4.f22088"],["7422f190.1aacf","ae05daf4.f22088"]]},{"id":"c270ae4859f1e7bb","type":"switch","z":"e3737c94.fd59f","name":"","property":"Mode","propertyType":"global","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1040,"y":160,"wires":[["c601c69e.6137e8"]]},{"id":"b36abc6167954013","type":"switch","z":"e3737c94.fd59f","name":"Mode","property":"payload.site.house.mode","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":60,"wires":[["8e07c57f.92d158"]]},{"id":"7130649263b126cc","type":"switch","z":"e3737c94.fd59f","name":"","property":"payload.power","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":490,"y":440,"wires":[["ae05daf4.f22088","7422f190.1aacf"],["04d0c0d3ead85731"]]},{"id":"a3c35e5e1ca4940d","type":"change","z":"e3737c94.fd59f","name":"C-Presence","rules":[{"t":"set","p":"C-Presence","pt":"global","to":"payload.devices[0].param.presence","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":220,"wires":[[]]},{"id":"3ca6c5070a53611d","type":"change","z":"e3737c94.fd59f","name":"V-Presence","rules":[{"t":"set","p":"V-Presence","pt":"global","to":"payload.devices[0].param.presence","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":260,"wires":[[]]}]