NR_Lysstyring(10,11)/Bathroom.json
[{"id":"a9a601907d96eb09","type":"tab","label":"Bathroom","disabled":false,"info":"","env":[]},{"id":"4c1858d290c94d44","type":"link out","z":"a9a601907d96eb09","name":"","links":["64bc6db.9a90194"],"x":1755,"y":360,"wires":[]},{"id":"19489cd49c8e05e3","type":"link in","z":"a9a601907d96eb09","name":"RESET Soverom","links":["f7029354.44404"],"x":1155,"y":460,"wires":[["5ba4b6c089aaea41"]]},{"id":"e1e3a6e5d53d0bbb","type":"trigger","z":"a9a601907d96eb09","name":"OFF","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"5","extend":true,"overrideDelay":true,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1390,"y":420,"wires":[["27499465def8b21b","5ba4b6c089aaea41"]]},{"id":"430bcf57af3f447c","type":"ui_switch","z":"a9a601907d96eb09","name":"BAD","label":"Bevegelse Bad","tooltip":"","group":"56a8be2a.9b9eb","order":5,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"remove_red_eye","oncolor":"orange","offvalue":"false","offvalueType":"bool","officon":"remove_red_eye","offcolor":"grey","animate":true,"className":"","x":490,"y":400,"wires":[["39fa20b64b4e7b2e"]]},{"id":"27499465def8b21b","type":"change","z":"a9a601907d96eb09","name":"bathroom","rules":[{"t":"set","p":"room","pt":"msg","to":"bathroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":340,"wires":[["4c1858d290c94d44"]]},{"id":"c840b6850a9f9370","type":"link in","z":"a9a601907d96eb09","name":"Batroom_Movement","links":["455faa8d.6c9aa4"],"x":395,"y":400,"wires":[["430bcf57af3f447c"]]},{"id":"ea645748ca3e406e","type":"link in","z":"a9a601907d96eb09","name":"Bathroom_Door","links":["dc7a9dbe.e7065"],"x":395,"y":220,"wires":[["b6fa1956a91dd176"]]},{"id":"5ba4b6c089aaea41","type":"change","z":"a9a601907d96eb09","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1390,"y":480,"wires":[["e1e3a6e5d53d0bbb","e362a8900a8120ae"]]},{"id":"857363e3950966cd","type":"switch","z":"a9a601907d96eb09","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":890,"y":400,"wires":[["5ba4b6c089aaea41","a3f0cad940b47aa1","38557f4408523618"],["2cd7beb6601eb278"]]},{"id":"b6fa1956a91dd176","type":"change","z":"a9a601907d96eb09","name":"Convert to Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":220,"wires":[["047237403aaab33f"]]},{"id":"2ebf80ed57b96fc3","type":"time-range-switch","z":"a9a601907d96eb09","name":"Dag","lat":"58.851468","lon":"5.748852","startTime":"06:00","endTime":"21:00","startOffset":0,"endOffset":0,"x":1050,"y":220,"wires":[["e06c1ce2758c7f85"],["f6c1c04e41814de2"]]},{"id":"f6c1c04e41814de2","type":"time-range-switch","z":"a9a601907d96eb09","name":"Dag","lat":"58.851468","lon":"5.748852","startTime":"21:00","endTime":"23:00","startOffset":0,"endOffset":0,"x":1050,"y":180,"wires":[["431b24da5c1cf8a9"],["6e23ce00bcce09a8"]]},{"id":"2ead3a2cb62c18a4","type":"trigger","z":"a9a601907d96eb09","name":"","op1":"percent_bathroom","op2":"percent_bathroom","op1type":"flow","op2type":"flow","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1220,"y":340,"wires":[["27499465def8b21b","5ba4b6c089aaea41"]]},{"id":"e06c1ce2758c7f85","type":"change","z":"a9a601907d96eb09","name":"Day","rules":[{"t":"set","p":"percent_bathroom","pt":"flow","to":"100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":220,"wires":[["dd476929bdbf7621"]]},{"id":"431b24da5c1cf8a9","type":"change","z":"a9a601907d96eb09","name":"Evening","rules":[{"t":"set","p":"percent_bathroom","pt":"flow","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1240,"y":140,"wires":[["dd476929bdbf7621"]]},{"id":"6e23ce00bcce09a8","type":"change","z":"a9a601907d96eb09","name":"Night","rules":[{"t":"set","p":"percent_bathroom","pt":"flow","to":"30","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":180,"wires":[["dd476929bdbf7621"]]},{"id":"dd476929bdbf7621","type":"switch","z":"a9a601907d96eb09","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":300,"wires":[["2ead3a2cb62c18a4","5ba4b6c089aaea41"],["e1e3a6e5d53d0bbb"]]},{"id":"7a8e7fdc0cb811ee","type":"rbe","z":"a9a601907d96eb09","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":670,"y":280,"wires":[["38557f4408523618"]]},{"id":"a3f0cad940b47aa1","type":"change","z":"a9a601907d96eb09","name":"BA-Presence:T","rules":[{"t":"set","p":"BA-Presence","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":500,"wires":[[]]},{"id":"2cd7beb6601eb278","type":"change","z":"a9a601907d96eb09","name":"BA-Presence:F","rules":[{"t":"set","p":"BA-Presence","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":540,"wires":[["a11e5cfbb5aa73a3"]]},{"id":"047237403aaab33f","type":"ui_switch","z":"a9a601907d96eb09","name":"BAD","label":"DOOR","tooltip":"","group":"9f7c23e0bf86f5c3","order":3,"width":2,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-unlock","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"fa-lock","offcolor":"green","animate":true,"className":"","x":730,"y":220,"wires":[["7a8e7fdc0cb811ee","b18f28142ec94046"]]},{"id":"e362a8900a8120ae","type":"trigger","z":"a9a601907d96eb09","name":"OFF","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"10","extend":true,"overrideDelay":false,"units":"min","reset":"true","bytopic":"all","topic":"topic","outputs":1,"x":1610,"y":480,"wires":[["27499465def8b21b"]]},{"id":"38557f4408523618","type":"delay","z":"a9a601907d96eb09","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":2,"x":860,"y":280,"wires":[["2ebf80ed57b96fc3"],["e383b1b84bc9dbd0","5ba4b6c089aaea41"]]},{"id":"e383b1b84bc9dbd0","type":"switch","z":"a9a601907d96eb09","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":890,"y":240,"wires":[["2ebf80ed57b96fc3"]]},{"id":"b18f28142ec94046","type":"change","z":"a9a601907d96eb09","name":"","rules":[{"t":"set","p":"dor_open","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":80,"wires":[[]]},{"id":"39fa20b64b4e7b2e","type":"rbe","z":"a9a601907d96eb09","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":670,"y":400,"wires":[["857363e3950966cd"]]},{"id":"a11e5cfbb5aa73a3","type":"switch","z":"a9a601907d96eb09","name":"","property":"dor_open","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1390,"y":540,"wires":[["e362a8900a8120ae"]]},{"id":"56a8be2a.9b9eb","type":"ui_group","name":"House","tab":"8d9ae12b.2a6f5","order":1,"disp":true,"width":"6","collapse":false},{"id":"9f7c23e0bf86f5c3","type":"ui_group","name":"Bathroom","tab":"98e325c0.ffee08","order":8,"disp":true,"width":4,"collapse":false,"className":""},{"id":"8d9ae12b.2a6f5","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"98e325c0.ffee08","type":"ui_tab","name":"Dashboard","icon":"dashboard","order":4,"disabled":false,"hidden":false}]