NR_Lysstyring(10,11)/Lys.json
[{"id":"c15399232bac2ca3","type":"subflow","name":"Light Controll","info":"","category":"LightControll","in":[{"x":60,"y":80,"wires":[{"id":"5e0d8112.7e4fc"},{"id":"d672dd5902ab9ae0"}]}],"out":[{"x":1250,"y":80,"wires":[{"id":"2543e4c5.28612c","port":0}]}],"env":[{"name":"room","type":"str","value":"room"},{"name":"LightTreshold","type":"num","value":"110"},{"name":"delay","type":"num","value":"10","ui":{"icon":"font-awesome/fa-times-circle-o","label":{"en-US":"Delay Minutes"},"type":"input","opts":{"types":["num"]}}}],"meta":{},"color":"#FFCC66","inputLabels":["Movement"],"outputLabels":["set light state"],"icon":"node-red/light.svg","status":{"x":1160,"y":340,"wires":[{"id":"94fa43d7a18c8a2a","port":0},{"id":"5c138fa713ff7c90","port":0},{"id":"d672dd5902ab9ae0","port":0},{"id":"d672dd5902ab9ae0","port":1},{"id":"29f9c1a39ca382a2","port":0},{"id":"853ea5b8d8ea2b6f","port":0}]}},{"id":"2543e4c5.28612c","type":"change","z":"c15399232bac2ca3","name":"","rules":[{"t":"set","p":"room","pt":"msg","to":"room","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":80,"wires":[[]]},{"id":"b7abb1c033a236e9","type":"trigger","z":"c15399232bac2ca3","name":"OFF","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"15","extend":true,"overrideDelay":true,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":870,"y":140,"wires":[["2543e4c5.28612c","853ea5b8d8ea2b6f"]]},{"id":"8d2467ba32ba6f8d","type":"switch","z":"c15399232bac2ca3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":340,"y":80,"wires":[["adc5b3cc5fb3acb9"],["5c138fa713ff7c90","25b0ce2a287f7a88"]]},{"id":"5e0d8112.7e4fc","type":"traffic","z":"c15399232bac2ca3","name":"btn_block","property_allow":"payload","filter_allow":"go","ignore_case_allow":true,"negate_allow":false,"send_allow":false,"property_stop":"payload","filter_stop":"stop","ignore_case_stop":true,"negate_stop":false,"send_stop":false,"default_start":true,"differ":false,"x":200,"y":80,"wires":[["8d2467ba32ba6f8d"]]},{"id":"94fa43d7a18c8a2a","type":"change","z":"c15399232bac2ca3","name":"state On","rules":[{"t":"set","p":"payload","pt":"msg","to":"ON","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":180,"wires":[[]]},{"id":"5c138fa713ff7c90","type":"change","z":"c15399232bac2ca3","name":"state OFF Countdown","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF Countdown","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":440,"wires":[[]]},{"id":"d672dd5902ab9ae0","type":"switch","z":"c15399232bac2ca3","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"GO","vt":"str"},{"t":"eq","v":"STOP","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":300,"wires":[["096fc2a5f95b7fe3"],["096fc2a5f95b7fe3"]]},{"id":"096fc2a5f95b7fe3","type":"change","z":"c15399232bac2ca3","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":140,"wires":[["b7abb1c033a236e9"]]},{"id":"adc5b3cc5fb3acb9","type":"switch","z":"c15399232bac2ca3","name":"LightTreshold ","property":"LightTreshold","propertyType":"env","rules":[{"t":"eq","v":"ignore","vt":"str"},{"t":"gte","v":"illum","vt":"msg"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":620,"y":80,"wires":[["4b6cb34a2d363e76","096fc2a5f95b7fe3","94fa43d7a18c8a2a"],["94fa43d7a18c8a2a","4b6cb34a2d363e76","096fc2a5f95b7fe3"],["29f9c1a39ca382a2"]]},{"id":"29f9c1a39ca382a2","type":"change","z":"c15399232bac2ca3","name":"state Bright","rules":[{"t":"set","p":"payload","pt":"msg","to":"To Bright","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":220,"wires":[[]]},{"id":"853ea5b8d8ea2b6f","type":"change","z":"c15399232bac2ca3","name":"state On","rules":[{"t":"set","p":"payload","pt":"msg","to":"OFF","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":260,"wires":[[]]},{"id":"25b0ce2a287f7a88","type":"function","z":"c15399232bac2ca3","name":"delay","func":"msg.delay = env.get(\"delay\") * 60000\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":180,"wires":[["b7abb1c033a236e9"]]},{"id":"4b6cb34a2d363e76","type":"delay","z":"c15399232bac2ca3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":860,"y":80,"wires":[["2543e4c5.28612c"]]},{"id":"aa0ae7ae.75d228","type":"tab","label":"Lys","disabled":false,"info":""},{"id":"4764ba70f833e4a9","type":"group","z":"aa0ae7ae.75d228","name":"Bedroom","style":{"label":true},"nodes":["af18fdf6.83584","50b0d259.df502c","551be057.65bed","18b93929.bea567","876c799e.859a08","6e1a0143.f51f8","a4afb1bbd79c5da6","d3daac16ab6cdf92","c0a924816dea4ee8"],"x":434,"y":1259,"w":1062,"h":202},{"id":"a7b26502af3b65e3","type":"group","z":"aa0ae7ae.75d228","name":"Hallway","style":{"label":true},"nodes":["b5c52e38.5a0b5","dcf434ce.e89888","b05e450967f5da8d","87d1ce3c19202d34","4ce3539c5f7a0ca7","f9450bda48f83deb","f539323231f77776","b9eed7dde8000c3e"],"x":434,"y":1059,"w":1062,"h":142},{"id":"172b4292bafc68a7","type":"group","z":"aa0ae7ae.75d228","name":"Basement","style":{"label":true},"nodes":["a3713cf3.b331a","f66e7e24.aca9d","7a4a01ee.c97e","21c80566.d9201a","183c95c7745f2ea4","bc57e78aaf68965d"],"x":434,"y":839,"w":1062,"h":142},{"id":"ff7ca7f8980ed0b1","type":"group","z":"aa0ae7ae.75d228","name":"Kitchen/Livingroom","style":{"label":true},"nodes":["2cc83436.3fa25c","e2d7c57f5c31b977","be2ad471.d9c448","18e793bb.41ccac","167a965f.fa254a","d17d889454f3d3a1","ca9cda18826d54da","ed863371775575ab"],"x":444,"y":599,"w":1062,"h":202},{"id":"6e1a0143.f51f8","type":"link out","z":"aa0ae7ae.75d228","g":"4764ba70f833e4a9","name":"","links":["64bc6db.9a90194"],"x":1455,"y":1300,"wires":[]},{"id":"b5c52e38.5a0b5","type":"ui_switch","z":"aa0ae7ae.75d228","g":"a7b26502af3b65e3","name":"Bevegelse Gangen","label":"Bevegelse Gangen","tooltip":"","group":"56a8be2a.9b9eb","order":5,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"remove_red_eye","oncolor":"orange","offvalue":"false","offvalueType":"bool","officon":"remove_red_eye","offcolor":"grey","animate":true,"className":"","x":630,"y":1100,"wires":[["b05e450967f5da8d"]]},{"id":"a3713cf3.b331a","type":"ui_switch","z":"aa0ae7ae.75d228","g":"172b4292bafc68a7","name":"Bevegelse nede","label":"Bevegelse Nede {{msg.illumenance}}","tooltip":"","group":"56a8be2a.9b9eb","order":8,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"remove_red_eye","oncolor":"orange","offvalue":"false","offvalueType":"bool","officon":"remove_red_eye","offcolor":"grey","animate":true,"x":620,"y":940,"wires":[["bc57e78aaf68965d"]]},{"id":"dcf434ce.e89888","type":"link in","z":"aa0ae7ae.75d228","g":"a7b26502af3b65e3","name":"Movement Hall","links":["328ec247.9e5eee"],"x":475,"y":1100,"wires":[["b5c52e38.5a0b5","f539323231f77776"]]},{"id":"f66e7e24.aca9d","type":"link in","z":"aa0ae7ae.75d228","g":"172b4292bafc68a7","name":"Movement Nede","links":["b951c7f1.f25428"],"x":475,"y":940,"wires":[["a3713cf3.b331a"]]},{"id":"99ed1ce4.90a0c","type":"link in","z":"aa0ae7ae.75d228","name":"Set Upstairs lights ","links":["39e053b3d2fb7ed8"],"x":1255,"y":240,"wires":[["9253d22c.17587"]]},{"id":"c825f67d.b5dba8","type":"link in","z":"aa0ae7ae.75d228","name":"set-downstaris lights","links":["9a820556.4df458"],"x":1255,"y":280,"wires":[["76c860b3.3a25c"]]},{"id":"7c9078bb.3bd958","type":"link out","z":"aa0ae7ae.75d228","name":"Basemet Reset","links":["7a4a01ee.c97e"],"x":1135,"y":300,"wires":[]},{"id":"fabdb6a9.b22598","type":"link in","z":"aa0ae7ae.75d228","name":"btn_upstairs","links":["6987ca2e.892e94"],"x":155,"y":260,"wires":[["952977f1.2f4798"]]},{"id":"429f76d8.f44498","type":"switch","z":"aa0ae7ae.75d228","name":"button","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Auto","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":390,"y":260,"wires":[["f2786c6b.d98eb"],["ef6b84bd.139bb8","99bb192c.9613d8"]]},{"id":"56d97603.6cdfe8","type":"link in","z":"aa0ae7ae.75d228","name":"btn_downstairs","links":["ff979eb7.893f3"],"x":155,"y":300,"wires":[["ff0e4529.8db608"]]},{"id":"128d5a8c.8a17f5","type":"switch","z":"aa0ae7ae.75d228","name":"button","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Auto","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":390,"y":300,"wires":[["f2786c6b.d98eb"],["ef6b84bd.139bb8","99bb192c.9613d8"]]},{"id":"76c860b3.3a25c","type":"change","z":"aa0ae7ae.75d228","name":"","rules":[{"t":"set","p":"B_illumenance","pt":"flow","to":"payload.illuminance","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":280,"wires":[[]]},{"id":"952977f1.2f4798","type":"change","z":"aa0ae7ae.75d228","name":"upstairs","rules":[{"t":"set","p":"room","pt":"msg","to":"upstairs","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":260,"wires":[["429f76d8.f44498"]]},{"id":"ff0e4529.8db608","type":"change","z":"aa0ae7ae.75d228","name":"basement","rules":[{"t":"set","p":"room","pt":"msg","to":"basement","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":300,"wires":[["128d5a8c.8a17f5"]]},{"id":"f2786c6b.d98eb","type":"change","z":"aa0ae7ae.75d228","name":"GO","rules":[{"t":"set","p":"payload","pt":"msg","to":"GO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":260,"wires":[["3ceb6365.4b21bc"]]},{"id":"ef6b84bd.139bb8","type":"change","z":"aa0ae7ae.75d228","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":340,"wires":[["3ceb6365.4b21bc"]]},{"id":"af18fdf6.83584","type":"ui_switch","z":"aa0ae7ae.75d228","g":"4764ba70f833e4a9","name":"Soverom","label":"Bevegelse Soverom {{msg.illum}}","tooltip":"","group":"56a8be2a.9b9eb","order":7,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"remove_red_eye","oncolor":"orange","offvalue":"false","offvalueType":"bool","officon":"remove_red_eye","offcolor":"grey","animate":true,"className":"","x":600,"y":1300,"wires":[["551be057.65bed"]]},{"id":"50b0d259.df502c","type":"link in","z":"aa0ae7ae.75d228","g":"4764ba70f833e4a9","name":"Movement Soverom","links":["9ace10c4.4ce8f"],"x":475,"y":1300,"wires":[["af18fdf6.83584"]]},{"id":"6e045be5.c83874","type":"change","z":"aa0ae7ae.75d228","name":"","rules":[{"t":"set","p":"bedroom_illumenance","pt":"flow","to":"payload.illuminance","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":340,"wires":[[]]},{"id":"3510f454.e53bec","type":"change","z":"aa0ae7ae.75d228","name":"Block LIght","rules":[{"t":"set","p":"bedroom","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":360,"wires":[["6e045be5.c83874"]]},{"id":"ce2c692a.a3a9c8","type":"change","z":"aa0ae7ae.75d228","name":"allow LIght","rules":[{"t":"set","p":"bedroom","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":320,"wires":[["6e045be5.c83874"]]},{"id":"c40e547e.a15af8","type":"switch","z":"aa0ae7ae.75d228","name":"Light bedroom","property":"payload.illuminance","propertyType":"msg","rules":[{"t":"lt","v":"250","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1200,"y":400,"wires":[["ce2c692a.a3a9c8"],["3510f454.e53bec"]]},{"id":"32e7306b.a8497","type":"switch","z":"aa0ae7ae.75d228","name":"button","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Auto","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":390,"y":340,"wires":[["f2786c6b.d98eb"],["ef6b84bd.139bb8","99bb192c.9613d8"]]},{"id":"6ff82cc7.7f6d34","type":"link in","z":"aa0ae7ae.75d228","name":"set-downstaris lights","links":[],"x":935,"y":400,"wires":[["c40e547e.a15af8"]]},{"id":"f7029354.44404","type":"link out","z":"aa0ae7ae.75d228","name":"Bedroom Reset","links":["27734f04.1bd46","939d1d44.2632e","7c6e26c.c6758d8","19489cd49c8e05e3"],"x":1135,"y":340,"wires":[]},{"id":"e54806fb.80a248","type":"change","z":"aa0ae7ae.75d228","name":"bedroom","rules":[{"t":"set","p":"room","pt":"msg","to":"bedroom","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":340,"wires":[["32e7306b.a8497"]]},{"id":"1aceef23.4fc291","type":"link in","z":"aa0ae7ae.75d228","name":"btn_Bedroom","links":["fb14610a.ba0cf"],"x":155,"y":340,"wires":[["e54806fb.80a248"]]},{"id":"641555a3.3a90ec","type":"link out","z":"aa0ae7ae.75d228","name":"Upstairs block","links":["2cc83436.3fa25c"],"x":1135,"y":260,"wires":[]},{"id":"3ceb6365.4b21bc","type":"switch","z":"aa0ae7ae.75d228","name":"Room","property":"room","propertyType":"msg","rules":[{"t":"cont","v":"upstairs","vt":"str"},{"t":"cont","v":"basement","vt":"str"},{"t":"cont","v":"bedroom","vt":"str"}],"checkall":"false","repair":true,"outputs":3,"x":710,"y":300,"wires":[["af4303d0.15fad"],["d3c43c4.fea9bc"],["882dbe4f.06e99"]]},{"id":"af4303d0.15fad","type":"switch","z":"aa0ae7ae.75d228","name":"STOP/GO","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"GO","vt":"str"},{"t":"cont","v":"STOP","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":260,"wires":[["641555a3.3a90ec"],["641555a3.3a90ec","b831f3e7.05899"]]},{"id":"d3c43c4.fea9bc","type":"switch","z":"aa0ae7ae.75d228","name":"STOP/GO","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"GO","vt":"str"},{"t":"cont","v":"STOP","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":300,"wires":[["7c9078bb.3bd958"],["7c9078bb.3bd958"]]},{"id":"882dbe4f.06e99","type":"switch","z":"aa0ae7ae.75d228","name":"STOP/GO","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"GO","vt":"str"},{"t":"cont","v":"STOP","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":880,"y":340,"wires":[["f7029354.44404","ce2c692a.a3a9c8"],["f7029354.44404","3510f454.e53bec"]]},{"id":"e17d0a43.b0e048","type":"link in","z":"aa0ae7ae.75d228","name":"RESET lights","links":["247260f.c82dca","fc4fe81e.444628"],"x":155,"y":180,"wires":[["7284606e.34aff"]]},{"id":"551be057.65bed","type":"switch","z":"aa0ae7ae.75d228","g":"4764ba70f833e4a9","name":"Mode","property":"Mode","propertyType":"global","rules":[{"t":"cont","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":1300,"wires":[["876c799e.859a08"]]},{"id":"9253d22c.17587","type":"change","z":"aa0ae7ae.75d228","name":"","rules":[{"t":"set","p":"U_illumenance","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1420,"y":240,"wires":[[]]},{"id":"573ad2.f49d253","type":"inject","z":"aa0ae7ae.75d228","name":"Reset","props":[{"p":"payload"}],"repeat":"","crontab":"00 05 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":700,"y":140,"wires":[["7284606e.34aff"]]},{"id":"18b93929.bea567","type":"change","z":"aa0ae7ae.75d228","g":"4764ba70f833e4a9","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":1380,"wires":[["a4afb1bbd79c5da6"]]},{"id":"876c799e.859a08","type":"time-range-switch","z":"aa0ae7ae.75d228","g":"4764ba70f833e4a9","name":"Dag","lat":"58.851468","lon":"5.748852","startTime":"10:00","endTime":"20:30","startOffset":0,"endOffset":0,"x":970,"y":1300,"wires":[["a4afb1bbd79c5da6","c0a924816dea4ee8"],["d3daac16ab6cdf92"]]},{"id":"7284606e.34aff","type":"change","z":"aa0ae7ae.75d228","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"GO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":180,"wires":[["af4303d0.15fad","d3c43c4.fea9bc"]]},{"id":"21c80566.d9201a","type":"link out","z":"aa0ae7ae.75d228","g":"172b4292bafc68a7","name":"","links":["64bc6db.9a90194"],"x":1455,"y":940,"wires":[]},{"id":"ed122137.eed21","type":"inject","z":"aa0ae7ae.75d228","name":"MORNING","props":[{"p":"payload"},{"p":"ondimm","v":"60","vt":"num"}],"repeat":"","crontab":"00 06 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"900000","payloadType":"num","x":530,"y":460,"wires":[["69f4a103.cfabb"]]},{"id":"bd26ed9a.5daa7","type":"inject","z":"aa0ae7ae.75d228","name":"NIGHT","props":[{"p":"payload"},{"p":"ondimm","v":"35","vt":"num"}],"repeat":"","crontab":"00 20 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"300000","payloadType":"num","x":520,"y":540,"wires":[["69f4a103.cfabb"]]},{"id":"69f4a103.cfabb","type":"change","z":"aa0ae7ae.75d228","name":"Set offdelay","rules":[{"t":"set","p":"offdelay","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"ondimm","pt":"flow","to":"ondimm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":520,"wires":[[]]},{"id":"b831f3e7.05899","type":"switch","z":"aa0ae7ae.75d228","name":"topic","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":1230,"y":180,"wires":[["1ee99591.60c08a"],["d9a04db.c7961b"]]},{"id":"9262c612.43a058","type":"link out","z":"aa0ae7ae.75d228","name":"","links":["64bc6db.9a90194"],"x":1505,"y":180,"wires":[]},{"id":"1ee99591.60c08a","type":"change","z":"aa0ae7ae.75d228","name":"ON","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":160,"wires":[["9262c612.43a058"]]},{"id":"d9a04db.c7961b","type":"change","z":"aa0ae7ae.75d228","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":200,"wires":[["9262c612.43a058"]]},{"id":"8d389ebc.22cbb","type":"inject","z":"aa0ae7ae.75d228","name":"NOON","props":[{"p":"payload"},{"p":"ondimm","v":"100","vt":"num"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"900000","payloadType":"num","x":520,"y":500,"wires":[["69f4a103.cfabb"]]},{"id":"7a4a01ee.c97e","type":"link in","z":"aa0ae7ae.75d228","g":"172b4292bafc68a7","name":"btn:block D","links":["7c9078bb.3bd958"],"x":1135,"y":880,"wires":[["183c95c7745f2ea4"]]},{"id":"99bb192c.9613d8","type":"link out","z":"aa0ae7ae.75d228","name":"","links":["64bc6db.9a90194"],"x":555,"y":300,"wires":[]},{"id":"579bb856c24442fe","type":"inject","z":"aa0ae7ae.75d228","name":"Reset","props":[{"p":"payload"}],"repeat":"","crontab":"00 10 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":640,"y":400,"wires":[["a27814c613fa2b20"]]},{"id":"b05e450967f5da8d","type":"change","z":"aa0ae7ae.75d228","g":"a7b26502af3b65e3","name":"HA-Presence","rules":[{"t":"set","p":"HA-Presence","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1100,"wires":[["4ce3539c5f7a0ca7"]]},{"id":"4d0ae664b9906d7d","type":"change","z":"aa0ae7ae.75d228","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":3090,"y":2120,"wires":[[]]},{"id":"e578725c1a2aec32","type":"inject","z":"aa0ae7ae.75d228","name":"STARTUP","props":[{"p":"payload"},{"p":"ondimm","v":"100","vt":"num"}],"repeat":"","crontab":"","once":true,"onceDelay":"20","topic":"","payload":"900000","payloadType":"num","x":530,"y":580,"wires":[["69f4a103.cfabb"]]},{"id":"87d1ce3c19202d34","type":"link out","z":"aa0ae7ae.75d228","g":"a7b26502af3b65e3","name":"","links":["64bc6db.9a90194"],"x":1455,"y":1100,"wires":[]},{"id":"2cc83436.3fa25c","type":"link in","z":"aa0ae7ae.75d228","g":"ff7ca7f8980ed0b1","name":"","links":["641555a3.3a90ec"],"x":995,"y":640,"wires":[["d17d889454f3d3a1"]]},{"id":"e2d7c57f5c31b977","type":"link out","z":"aa0ae7ae.75d228","g":"ff7ca7f8980ed0b1","name":"","mode":"link","links":["64bc6db.9a90194"],"x":1465,"y":720,"wires":[]},{"id":"be2ad471.d9c448","type":"link in","z":"aa0ae7ae.75d228","g":"ff7ca7f8980ed0b1","name":"Movement oppe","links":["63e9f9b.1d13608","b9eed7dde8000c3e","e92f253c.11b9b8"],"x":485,"y":720,"wires":[["167a965f.fa254a","18e793bb.41ccac"]]},{"id":"18e793bb.41ccac","type":"ui_switch","z":"aa0ae7ae.75d228","g":"ff7ca7f8980ed0b1","name":"Bevegelse oppe","label":"Bevegelse Oppe {{msg.illumenance}}","tooltip":"","group":"56a8be2a.9b9eb","order":6,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"test","topicType":"str","style":"","onvalue":"true","onvalueType":"bool","onicon":"remove_red_eye","oncolor":"orange","offvalue":"false","offvalueType":"bool","officon":"remove_red_eye","offcolor":"grey","animate":true,"className":"","x":680,"y":720,"wires":[["ca9cda18826d54da","ed863371775575ab"]]},{"id":"167a965f.fa254a","type":"and-gate","z":"aa0ae7ae.75d228","d":true,"g":"ff7ca7f8980ed0b1","name":"!Movement","rules":[{"t":"false","propertyType":"msg","property":"payload","topic":"StueVtoalett"},{"t":"false","propertyType":"msg","property":"payload","topic":"Kitchen: eye"}],"outputTopic":"","gateType":"and","emitOnlyIfTrue":true,"x":630,"y":760,"wires":[[]]},{"id":"d17d889454f3d3a1","type":"subflow:c15399232bac2ca3","z":"aa0ae7ae.75d228","g":"ff7ca7f8980ed0b1","name":"","env":[{"name":"room","value":"upstairs","type":"str"},{"name":"LightTreshold","value":"120","type":"num"},{"name":"delay","value":"15","type":"num"}],"x":1260,"y":720,"wires":[["e2d7c57f5c31b977"]]},{"id":"ca9cda18826d54da","type":"change","z":"aa0ae7ae.75d228","g":"ff7ca7f8980ed0b1","name":"","rules":[{"t":"set","p":"illum","pt":"msg","to":"U_illumenance","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":720,"wires":[["d17d889454f3d3a1"]]},{"id":"ed863371775575ab","type":"change","z":"aa0ae7ae.75d228","g":"ff7ca7f8980ed0b1","name":"ST-presence","rules":[{"t":"set","p":"ST-presence","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":640,"wires":[[]]},{"id":"183c95c7745f2ea4","type":"subflow:c15399232bac2ca3","z":"aa0ae7ae.75d228","g":"172b4292bafc68a7","name":"","env":[{"name":"room","value":"basement","type":"str"},{"name":"LightTreshold","value":"ignore","type":"str"},{"name":"delay","value":"5","type":"num"}],"x":1250,"y":940,"wires":[["21c80566.d9201a"]]},{"id":"4ce3539c5f7a0ca7","type":"subflow:c15399232bac2ca3","z":"aa0ae7ae.75d228","g":"a7b26502af3b65e3","name":"","env":[{"name":"room","value":"gangen","type":"str"},{"name":"LightTreshold","value":"ignore","type":"str"},{"name":"delay","value":"3","type":"num"}],"x":1250,"y":1100,"wires":[["87d1ce3c19202d34"]]},{"id":"a4afb1bbd79c5da6","type":"subflow:c15399232bac2ca3","z":"aa0ae7ae.75d228","g":"4764ba70f833e4a9","name":"","env":[{"name":"room","value":"bedroom","type":"str"},{"name":"LightTreshold","value":"ignore","type":"str"},{"name":"delay","value":"30","type":"num"}],"x":1250,"y":1300,"wires":[["6e1a0143.f51f8"]]},{"id":"d3daac16ab6cdf92","type":"trigger","z":"aa0ae7ae.75d228","g":"4764ba70f833e4a9","name":"ONCE","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"0","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":970,"y":1360,"wires":[["18b93929.bea567","a4afb1bbd79c5da6"]]},{"id":"c0a924816dea4ee8","type":"change","z":"aa0ae7ae.75d228","g":"4764ba70f833e4a9","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":1420,"wires":[["d3daac16ab6cdf92"]]},{"id":"a27814c613fa2b20","type":"change","z":"aa0ae7ae.75d228","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"GO","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":400,"wires":[["882dbe4f.06e99"]]},{"id":"f9450bda48f83deb","type":"switch","z":"aa0ae7ae.75d228","g":"a7b26502af3b65e3","name":"home","property":"Mode","propertyType":"global","rules":[{"t":"eq","v":"away","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":730,"y":1160,"wires":[["b9eed7dde8000c3e"]]},{"id":"f539323231f77776","type":"switch","z":"aa0ae7ae.75d228","g":"a7b26502af3b65e3","name":"Movement","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"false","repair":false,"outputs":1,"x":590,"y":1160,"wires":[["f9450bda48f83deb"]]},{"id":"b9eed7dde8000c3e","type":"link out","z":"aa0ae7ae.75d228","g":"a7b26502af3b65e3","name":"","mode":"link","links":["be2ad471.d9c448"],"x":845,"y":1160,"wires":[]},{"id":"bc57e78aaf68965d","type":"change","z":"aa0ae7ae.75d228","g":"172b4292bafc68a7","name":"B-Presence","rules":[{"t":"set","p":"B-Presence","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":940,"wires":[["183c95c7745f2ea4"]]},{"id":"7c376eb857a4e46f","type":"link in","z":"aa0ae7ae.75d228","name":"BasementBlock","links":["8a0ab10e55653060"],"x":695,"y":240,"wires":[["d3c43c4.fea9bc"]]},{"id":"5d980e14a31e5332","type":"inject","z":"aa0ae7ae.75d228","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"00 21 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"STOP","payloadType":"str","x":350,"y":400,"wires":[["d3c43c4.fea9bc"]]},{"id":"28f356670a5a6dc9","type":"change","z":"aa0ae7ae.75d228","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"O-LYS","tot":"str"},{"t":"set","p":"movement","pt":"msg","to":"payload","tot":"msg"},{"t":"change","p":"movement","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"},{"t":"change","p":"movement","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1600,"wires":[["d3afa1ea39895105"]]},{"id":"f2e0ac31e202a4e3","type":"subflow:c15399232bac2ca3","z":"aa0ae7ae.75d228","name":"O-LYS","env":[{"name":"room","value":"O-LYS","type":"str"},{"name":"LightTreshold","value":"ignore","type":"str"},{"name":"delay","value":"15","type":"num"}],"x":850,"y":1600,"wires":[["28f356670a5a6dc9"]]},{"id":"ca59d875951bc88c","type":"link in","z":"aa0ae7ae.75d228","name":"O-LYS","links":["b526ea173bec8f67"],"x":445,"y":1600,"wires":[["f2e0ac31e202a4e3","d4e988839861fdd7"]]},{"id":"d3afa1ea39895105","type":"link out","z":"aa0ae7ae.75d228","name":"O-LYS","mode":"link","links":["80b9f8ea0180e4ee"],"x":1345,"y":1600,"wires":[]},{"id":"d4e988839861fdd7","type":"switch","z":"aa0ae7ae.75d228","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":850,"y":1680,"wires":[["8360c95b413918e1"],["1b1b701f2f4d7455"]]},{"id":"8360c95b413918e1","type":"change","z":"aa0ae7ae.75d228","name":"O-presence:T","rules":[{"t":"set","p":"O-presence","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1660,"wires":[[]]},{"id":"1b1b701f2f4d7455","type":"change","z":"aa0ae7ae.75d228","name":"O-presence:F","rules":[{"t":"set","p":"O-presence","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":1700,"wires":[[]]},{"id":"56a8be2a.9b9eb","type":"ui_group","name":"House","tab":"8d9ae12b.2a6f5","order":1,"disp":true,"width":"6","collapse":false},{"id":"8d9ae12b.2a6f5","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]